<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, viewport-fit=cover"
		/>
		<meta name="description" content="{{description}}" />
		<meta name="keywords" content="{{keywords}}" />
		<meta name="author" content="{{author}}" />
		<link rel="icon" href="/favicon.ico" />
		<title>{{page.title}}</title>
	</head>
	<body class="wrapper" style="margin: 0px">
		{{{body}}}
	</body>
	{{{lwr_resources}}}
</html>
